<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
<thead>
<tr>
    <th>Category id</th>
    <th>Category code</th>
    <th>Category name</th>
</tr>
</thead>
    <tbody>
    <tr th:each="c : ${lists}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.categoryCode}"></td>
        <td th:text="${c.categoryName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>